/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; /* Set default text color */
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav {
    text-align: center;
    margin-bottom: 1rem;
}

nav a {
    margin: 0 15px;
    color: #fff; /* White color for links */
    text-decoration: none;
    font-weight: bold; /* Optionally, make the links bold for emphasis */
}

nav a:hover {
    text-decoration: underline; /* Underline links on hover */
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: calc(50% - 1rem); /* Adjust width to fit two items per row with spacing */
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    max-width: 50%; /* Set maximum width for images */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure images behave as block elements */
    margin: 0 auto; /* Center align images */
}

.gallery-item a {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: #333; /* Adjust link color */
    text-decoration: none;
    font-weight: bold;
}

.gallery-item a:hover {
    text-decoration: underline;
}
.social-links {
    margin-top: 1rem;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}
